@import url(https://fonts.googleapis.com/css?family=Work+Sans:300, 600);
body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: rgb(114, 113, 111);
  font-weight: 300;
  text-align: center;
  background-color: rgb(227, 225, 219);
}

nav {
  width: 100%;
  font-size: 26px;
  background-color: rgb(222, 216, 204);
}

a {
  color: rgb(114, 113, 111);
}
a:hover {
  text-decoration: none;
}
h1 {
  font-weight: 300;
  font-size: 20px;
}

.nav-item {
  margin-right: 3vw;
}

.question {
  margin-bottom: 10px;
  font-size: 3rem;
  color: rgb(154, 51, 37);
  padding-left: 10rem;
  padding-right: 10rem;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.top-link {
  height: 100px;
  padding-top: 30px;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  /* background-color: #279; */
  /* color: #fff; */
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.slide {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.left-column {
  background-color: rgb(235, 142, 142);
}

.right-column {
  background-color: rgb(111, 111, 240);
}

.header {
  background-color: yellowgreen;
  text-align: center;
}

.summary-slide {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  text-align: left;
  display: inherit;
  padding-left: 20vw;
  padding-right: 20vw;
}

.correct-answer {
  color: rgb(13, 228, 13);
}

.wrong-answer {
  color: red;
}

.right-list {
  float: right;
}

#quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#summary-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Styles for wrapping the search box */

.main {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
  border: 2px solid #496614;
  background-color: rgb(227, 225, 219);
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search-button {
  background-color: #496614;
  color: white;
}

.search-button:hover {
  background-color: #496614;
  padding-left: 20px;
  color: white;
}

.search-icon {
  color: #496614 !important;
}

.search-input {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.card {
  background-color: rgb(222, 216, 204);
}

.card-hover:hover {
  background-color: rgb(194, 197, 94);
}

.big-card-title {
  margin-top: 10rem;
  font-size: 4rem;
  color: goldenrod;
}

.card-title {
  font-size: 3rem;
  color: olivedrab;
  margin-bottom: 10rem;
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}


.new-card-text {
  margin-top: 10rem;
}

.shop-button {
  margin-top: 10rem;
  border: 2px solid rgb(168, 173, 0);
  border-radius: 10px;
  font-size: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.promotion {
  font-size: 1rem;
}

.latest {
  color: goldenrod;
  font-size: 3rem;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.small-shop-button {
  border-bottom: 2px solid rgb(168, 173, 0);
}

.card-image {
  margin-top: 2rem;
  width: 80%;
  align-self: center;
}

.how-to-use {
  background-image: url("blog.png");
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-use-title {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-size: 4rem;
  color: rgb(154, 51, 37);
}

.footer {
  background-color: rgb(168, 173, 0);
  vertical-align: center;
  display: flex;
  padding-top: 50px;
}

.footer ul {
  list-style-type: none;
}

.left-footer {
  text-align: left;
}

.right-footer {
  text-align: right;
  padding-right: 55px;
}

.social-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.diagnosis {
  font-size: 3rem;
  color: rgb(154, 51, 37);
  text-align: left;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.suggestion {
  font-size: 2rem;
  color: black;
  text-align: left;
  padding-left: 4rem;
  padding-right: 4rem;
}

.product-for-you-image {
  border-left: none;
}

.product-for-you-text {
  border-right: none;
}

.product-for-you-title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

button {
  color: rgb(168, 173, 0);
  background-color: rgb(227, 225, 219);
  border: 2px solid rgb(168, 173, 0);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

button:hover {
  background-color: rgb(168, 173, 0);
  color: rgb(227, 225, 219);
}

.answer-button {
  color: rgb(168, 173, 0);
  background-color: rgb(227, 225, 219);
  border: 2px solid rgb(168, 173, 0);
  width: 50%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.answer-button:hover {
  background-color: rgb(168, 173, 0);
  color: rgb(227, 225, 219);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.3rem;
  color: rgb(84, 117, 62);
  line-height: 50px;
  text-align: center;
  background: rgb(226, 236, 184);
  border: 1px solid rgb(84, 117, 62);
}

.circle-selected {
  background: rgb(183, 211, 164, 0.9);
}

.question-number {
  padding-left: 25%;
  padding-right: 25%;
}

.answer-block {
  margin-top: 20vh;
}

.loading {
  width: 40px;
  height: 40px;
}

.spin {
  margin: 20px;
  width: 40px;
  height: 40px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#calculating-container {
  /* background-color: black; */
  padding-top: 25vh;
}

#product-image {
  padding-left: 1000px;
}

.header-img {
  height: 500px;
  object-fit: cover;
  object-position: bottom;
  overflow: hidden;
}

img {
  transition: transform 0.2s;
}
img:hover {
  transform: scale(1.05);
}

.h5 {
  color: rgb(168, 173, 0);
}

iframe[seamless] {
  border: none;
}

.carousel-caption {
  left: 20px;
  right: 40%;
  background-color: rgba(168, 173, 0, 0.5);
  border-radius: 15px;
}
.c-top {
  top: 10px;
  bottom: auto;
}

.c-bot {
  right: 20px;
  left: 40%;
}

.pink {
  color: blueviolet;
}
